body{
	background-color: rgb(255, 153, 153, 0.6);
	font-family: helvetica, sans-serif;
}

header{
	font-size: 2em;
	text-align: center;
	color: #f6eeee;
}

nav{
	background-color: rgb(255, 128, 128, 0.6);
}

a{
	text-decoration: none;
	float: right;
	
}
ol{
	list-style-type: none;
}
.nali{
	list-style-type: none;
}

.olli{
	color: #990000;
	font-size: 1.1em;
}

hr{
	align-self: center;
	background-color: #660000;
	border: none;
	height: 3px;
}